.pageContent {
    width: 100%;
}

    .pageContent h1 {
        font-size: 50px;
        margin-bottom: 45px;
        text-align: center;
        color: var(--main-color);
        text-transform: uppercase;
    }
    .pageContent > div {
        width: fit-content;
        height: fit-content;
        text-align: center;
        margin: auto;
        display: flex;
        background: transparent;
        top: 50%;
        left: 50%;
    }

