.shopContent {
    margin: auto;
}
    .shopContent h1 {
    font-size: 50px;
    margin-bottom: 45px;
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
}
        .shopContent h1:hover {
            cursor: pointer;
            text-decoration: underline;
            text-decoration-color: var(--main-color-light);
        }

.arrowIcon {
    padding-top: 10px;
    border: 3px solid red;
}
.list {
    padding-left: 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    margin: 0 6vw;
}

    .list li {
        list-style: none;
        margin: 5px 12px;
        width: min-content;
    }

        .list li span {
            word-wrap: break-word;
        }
