.shopContent {
    margin: auto;
}
    .shopContent h1 {
    font-size: 50px;
    margin-bottom: 45px;
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
}

.list {
    padding-left: 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    margin: 0 100px;
}

    .list li {
        list-style: none;
        margin: 5px 12px;
        width: min-content;
    }

        .list li span {
            word-wrap: break-word;
        }
