.burgerMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 2rem;
    height: 1.25rem;
    z-index: 100;
    margin-left: auto;
}

    .burgerMenu:hover {
        cursor: pointer;
    }

.burgerBar {
    height: 2px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 3rem;
    padding: 2px;
    margin: 3px;
}



@media (min-width: 768px) {
    .burgerMenu {
        display: none;
    }
}