.navigationBar {
  display: flex;
}
  
.navigationBar li {
  padding: 5px 15px;
  list-style: none;
  width: fit-content;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  color: white;
}

.navigationBar li:first-child {
  margin-left: auto;
}
.navigationBar li:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

.navigationBar .active, .navigationBar .active:hover{
  border-bottom: 2px solid white;
}

@media (max-width: 768px) {
    .navigationBar {
        position: absolute;
        flex-direction: column;
        right: 0;
        top: 90px;
        background-color: var(--main-color);
        padding: 2rem 4rem;
        border-top: 2px solid white;
        box-shadow: 0px 1px 10px 1px rgba(1,1,1, 0.5);
    }

    .navigationBar li:first-child {
        margin-left: 0;
    }
    .navigationBar li {
        border-bottom: 2px solid var(--main-color);
    }

}