.navigationBar {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    width: 480px;
  }
  
  .navigationBar li {
    padding: 5px 15px;
    list-style: none;
    width: fit-content;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
  }
  .navigationBar li:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    cursor: pointer;
  }
  
  .navigationBar .active, .navigationBar .active:hover{
    border-bottom: 2px solid white;
  }
