.navigationBar {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    width: 480px;
  }
  
  .navigationBar li {
    padding: 5px 15px;
    list-style: none;
    width: fit-content;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: black
  }
  .navigationBar li:hover {
    border-bottom: 2px solid var(--main-color-light);
    cursor: pointer;
  }
  
  .navigationBar .active, .navigationBar .active:hover{
    border-bottom: 2px solid var(--main-color);
  }
  