.contactForm {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.contactForm h2 {
    color: var(--main-color);
    font-weight: lighter;
    font-size: 28px;
    margin-bottom: 0px;
}

.form{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.form form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
}

.form form > div {
    width: 49%;
    margin-right: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.form form input {
    font-family: "Coda";
    width: 100%;
    height: 55px;
    padding: 2px 20px;
    background-color: lightgray;
    font-size: 18px;
    border: none;
}

.form form label {
    padding: 10px 0;
}

.form form .message {
    width: 100%;
}

.form form .message > textarea {
    height: 200px;
    width: 100%;
}

.form form textarea {
    font-family: "Coda";
    width: 100%;
    height: 55px;
    padding: 10px 20px;
    background-color: lightgray;
    font-size: 18px;
    border: none;
    outline: none;
}

.contactForm button {
    width: 30%;
    padding: 10px;
    margin: 15px auto 15px 0px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-family: "Coda";
    font-size: 18px;
}

    .contactForm button:hover {
        background: rgba(0, 102, 204, 0.75);
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }

@media (max-width: 768px) {
    .form form > div {
        width: 100%;
        margin-right: 0;
    }
}
