@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');

html {
    font-family: "Coda";
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  a,
  a:active,
  a:hover {
    outline-width: 0;
    text-decoration: none;
    color: inherit;
  }
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  ul {
    margin: 0;
    padding-inline-start: 0;
  }

:root {
    --main-color: rgb(0, 102, 204);
    --main-color-light: rgba(0, 102, 204, 0.3);
    --accent-color: rgb(0, 0, 102);
    --background-gray: rgb(230, 230, 230);
}

*, *::after, *::before {
  box-sizing: border-box;
}