.container {
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.container h3 {
    margin-top: 0;
}

.item:hover h3 {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--main-color);
}

.item:hover{
    transform: scale(1.01);
}

.list {
    padding-left: 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    margin: 0 6vw;
}

.list li {
    list-style: none;
    margin: 5px 12px;
    width: min-content;
}

.list li span {
    word-wrap: break-word;
}

.title {
    color: var(--main-color);
}

.image {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.containerText {
	background-color: var(--background-light-gray);
	padding: 10px;
	margin-top: -7px;
    padding-bottom: 20px;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.priceBottun {
    background-color: green;
    color: white;
    padding: 5px;
    width: fit-content;
}
