.sort {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sortCard {
    border-color: var(--background-gray);
}

.sortInput {
    margin-left: 4px;
    font-size: 16px;
    border: none;
    outline: none;
}

@media screen and (max-width: 1750px) {
    .sort {
        right: 10%;
    }
}

@media screen and (max-width: 1650px) {
    .sort {
        right: 8%;
    }
}

@media screen and (max-width: 1550px) {
    .sort {
        right: 6%;
    }
}

@media screen and (max-width: 1450px) {
    .sort {
        right: 4%;
    }
}

@media screen and (max-width: 1350px) {
    .sort {
        right: 2%;
    }
}

@media screen and (max-width: 1250px) {
    .sort {
        right: 1%;
    }
}

@media screen and (max-width: 1150px) {
    .sort {
        right: 0.5%;
    }
}

@media screen and (max-width: 1050px) {
    .sort {
        right: -0.5%;
    }
}

@media screen and (max-width: 882px) {
    .sort {
        right: 0;
        margin-bottom: 32px;
    }
}