.sort {
    height: 44px;
}

.sortCard {
    border: none;
    padding-top: 10px;
    //border-color: var(--background-gray);
    box-shadow: 1px 1px 5px 1px rgba(1,1,1, 0.5);
}

.sortInput {
    margin-left: 4px;
    font-size: 16px;
    border: none;
    outline: none;
}

@media screen and (max-width: 1750px) {
    .sort {
        right: 10%;
    }
}

@media screen and (max-width: 1650px) {
    .sort {
        right: 8%;
    }
}

@media screen and (max-width: 1550px) {
    .sort {
        right: 6%;
    }
}

@media screen and (max-width: 1450px) {
    .sort {
        right: 4%;
    }
}

@media screen and (max-width: 1350px) {
    .sort {
        right: 2%;
    }
}

@media screen and (max-width: 1250px) {
    .sort {
        right: 1%;
    }
}

@media screen and (max-width: 1150px) {
    .sort {
        right: 0.5%;
    }
}

@media screen and (max-width: 1050px) {
    .sort {
        right: -0.5%;
    }
}

@media screen and (max-width: 720) {
    .sort {
        right: 0;
        margin-bottom: 32px;
    }
}