.shopFilter {
    padding: .25rem 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    flex-basis: 20%;
    min-width: 14rem;
    max-width: 20rem;
    height: 27.5rem;
    text-align: center;
}

.filterTitle {
    color: var(--main-color);
    margin-top: 0;
    border-bottom: 1px solid #000;
}

.filterCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem 1rem;
    font-size: 1.25rem;
    border: 1px solid #000;
    margin-bottom: 1rem;
    box-shadow: 0 2px 0 0 #000;
}
.filterCardName {
    margin: 0;
}