.shopFilter {
    padding: .25rem 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    flex-basis: 15%;
    text-align: center;
    height: fit-content;
    margin-bottom: 32px;
    margin-right: 32px;
    box-shadow: 1px 1px 5px 1px rgba(1,1,1, 0.5);
}

/*
@media screen and (max-width: 1750px) {
    .shopFilter {
        left: 10%;
    }
}

@media screen and (max-width: 1650px) {
    .shopFilter {
        left: 8%;
    }
}

@media screen and (max-width: 1550px) {
    .shopFilter {
        left: 6%;
    }
}

@media screen and (max-width: 1450px) {
    .shopFilter {
        left: 4%;
    }
}

@media screen and (max-width: 1350px) {
    .shopFilter {
        left: 2%;
    }
}

@media screen and (max-width: 1250px) {
    .shopFilter {
        left: 1%;
    }
}

@media screen and (max-width: 1150px) {
    .shopFilter {
        left: 0.5%;
    }
}

@media screen and (max-width: 1050px) {
    .shopFilter {
        left: -0.5%;
    }
}

@media screen and (max-width: 882px) {
    .shopFilter {
        left: 0;
    }
}

*/

.filterTitle {
    color: var(--main-color);
    margin-top: 0;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.filterCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .25rem 1rem;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid lightgray;
}

    .filterCard:last-of-type {
        border: none;
    }

.filterCardName {
    margin: 0;
}

.selectRowLabel {
    margin-bottom: .75rem;
}

.selectRowInput{
    margin-bottom: 1rem;
}

.filterRange {
    display: flex;
}
.filterRange span {
    font-size: .7rem;
    margin-right: .5rem;
}

    .filterRange span:last-child {
        margin-right: 0;
        margin-left: .7rem;
    }



