.shopFilter {
    padding: .25rem 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    flex-basis: 20%;
    min-width: 14rem;
    max-width: 20rem;
    text-align: center;
    margin-bottom: 2rem;
    height: fit-content;
}

.filterTitle {
    color: var(--main-color);
    margin-top: 0;
    border-bottom: 1px solid #000;
}

.filterCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .25rem 1rem;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.filterCardName {
    margin: 0;
}

.selectRowLabel {
    margin-bottom: .75rem;
}

.selectRowInput{
    margin-bottom: 1rem;
}

.filterRange {
    display: flex;
}
.filterRange span {
    font-size: .7rem;
    margin-right: .5rem;
}

.filterRange span:last-child {
    margin-right: 0;
    margin-left: .7rem;
}