.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

    .content h1 {
        color: var(--main-color);
        font-size: 160px;
    }
.content h2 {
    color: var(--main-color);
    font-weight: lighter;
    font-size: 28px;
    margin-bottom: 0px;
}

.homeButton {
    width: 120px;
    margin: 0px auto;
    padding: 10px 20px;
    border: 0;
    color: white;
    background-color: var(--main-color);
    box-shadow: 0px 0px 5px 0 gray;
    cursor: pointer;
    font-family: "Coda";
    font-size: 18px;
}
