.pageContent {
    width: 70%;
    margin: 0 auto;
}

bottun {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
}

.shopButton {
    background-color: lightgray;
}

.homeButton {
    background-color: var(--main-color);
}
