.pageContent {
    width: 50%;
    margin: 0 auto;
}

.pageTitle {
    font-size: 36px;
    color: var(--main-color);
}

.productSeparator {
    color: lightgray;
}

.sum {
    display: flex;
    justify-content: space-between;
}

.total {
    font-weight: bold;
}

.homeButton {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: var(--main-color);
    box-shadow: 0px 0px 5px 0 gray;
}

    .homeButton:hover {
        background-color: rgba(0, 102, 204, 0.75);
        box-shadow: none;
        transition: all 0.5s ease-in-out;
    }

.shopButton {
    margin-top: 10px;
    margin-bottom: 45px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: rgb(160, 160, 160);
    box-shadow: 0px 0px 5px 0 gray;
}

    .shopButton:hover {
        background-color: rgba(160, 160, 160, 0.75);
        box-shadow: none;
        transition: all 0.5s ease-in-out;
    }

.removeButton {
    margin-top: 10px;
    padding: 10px;
    padding-left: 0;
    color: crimson;
}

    .removeButton:hover {
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        text-decoration: underline;
    }
