.background {
    background-color: gainsboro;
    width: 100vw;
    height: 100vh;
}

.container {
    position: absolute;
    width: 360px;
    height: 450px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px 5px gray;
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 20px 30px;
}

.container > h2 {
    color: var(--main-color);
    display: flex;
    justify-content: center;
}

.close {
    margin: 10px 10px 0px 0px;
    display: flex;
    justify-content: flex-end;
}

.close:hover {
    cursor: pointer;
}

.field {
    margin: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.field input {
    border: 0;
    margin: 10px 0;
    height: 55px;
    padding: 2px 20px;
    font-family: "Coda";
    font-size: 18px;
    color: gray;
    background-color: lightgray;
}

.forgottenPassword {
    margin: 10px;
    color: var(--main-color);
    text-decoration: underline;
}

.forgottenPassword:hover{
    cursor: pointer;
}

.container button {
    width: 120px;
    margin: 0px auto;
    padding: 10px 20px;
    border: 0;
    color: white;
    background-color: var(--main-color);
    box-shadow: 0px 0px 5px 0 gray;
    cursor: pointer;
    font-family: "Coda";
    font-size: 18px;
}

.container button:hover {
    background-color: rgba(0, 102, 204, 0.75);
    box-shadow: none;
    transition: all 0.5s ease-in-out;
}

.error {
    opacity: 0;
    color: red;
    margin: 20px auto;
    margin-top: 0;
}

.success {
    opacity: 0;
    color: greenyellow;
    margin: 20px auto;
    margin-top: 0;
}

.container .error.show,
.success.show {
    opacity: 1;
}


