.background {
    background-color: gainsboro;
    width: 100vw;
    height: 100vh;
}

.container {
    position: absolute;
    width: 360px;
    height: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px 5px gray;
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 20px 30px;
}

.container > h2 {
    color: var(--main-color);
    display: flex;
    justify-content: center;
}

.container button {
    width: 100%;
    margin: 0px auto;
    padding: 10px 10px;
    border: 0;
    color: white;
    background-color: var(--main-color);
    box-shadow: 0px 0px 5px 0 gray;
    cursor: pointer;
    font-family: "Coda";
    font-size: 18px;
}

.container button:hover {
    background-color: rgba(0, 102, 204, 0.75);
    box-shadow: none;
    transition: all 0.5s ease-in-out;
}