
.leftHalf {

}

.rightHalf {
    width: 75%;
}

@media (max-width: 1328px) {
    .rightHalf {
        width: 100%;
    }
}

.searchSort {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    padding: 0 1rem;
    margin-bottom: 2rem;
}
