.container {
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.imageHalf{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.categoryTitle{
    margin: 0 auto;
    text-align:center;
}


.container:hover h2 {
    color: var(--main-color);
}

.container:hover {
    transform: scale(1.01);
}
