.cart {
    padding-left: 1rem;
}

.cart:hover {
    cursor: pointer;
}

.cart span{
    background-color: crimson;
    padding: 2px 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}