.pageNumber {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
}

.notActive {
    color: lightgray;
}

.activePage {
    color: var(--main-color);
}
