.container {
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.list {
    padding-left: 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0 100px;
}

    .list li {
        list-style: none;
        margin: 5px 12px;
        width: min-content;
    }

        .list li span {
            word-wrap: break-word;
        }

.title {
    color: var(--main-color);
}

.containerText {
    background-color: ghostwhite;
    padding: 10px;
}

.more {
    color: gray;
    text-decoration: underline;
}

.priceBottun {
    background-color: green;
    color: white;
    padding: 5px;
}
