.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchCard {
    border: none;
    background-color: var(--background-gray);
    width: 256.61px;
    height: 44px;
}

.searchInput {
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
    width: 85%;
    height: 100%;
    box-shadow: 0 0 0px 1000px var(--background-gray) inset;
}

.searchIcon {
    color: gray;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 11px;
}

@media screen and (max-width: 626px) {
    .search {
        margin-bottom: 32px;
    }
}