.header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    background-color: var(--main-color);
    box-shadow: 0px 1px 10px 1px rgba(1,1,1, 0.5);
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
