.header {
    position: fixed;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    box-shadow: 0px 1px 10px 1px rgba(1,1,1, 0.5);
    top: 0;
    padding: 0 2rem;
    width: 100%;
    z-index: 1;
}