.header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
    background-color: var(--main-color);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
