.footer {
    background-color: var(--main-color);
    padding: 20px 150px;
    display: flex;
    color: white;
    font-size: 16px;
    align-items: center;
}

    .footer .terms, .address, .phone {
        list-style: none;
        display: flex;
        flex-flow: column;
        padding-right: 100px;
    }


.title {
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.phone {
    margin: 11px 0;
}

    .phone .title {
        color: rgba(0,0,0, 0)
    }

.footer .social {
    padding: 150px;
    position: relative;
    background: url("https://i.pinimg.com/originals/48/52/a5/4852a5cb7f4ad9a76365651cc3fa440c.png") no-repeat center center;
    background-size: cover;
}


