.footer {
    background-color: var(--main-color);
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.footer > * {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-grow: 1;
}

.footer .terms li{
    border-bottom: 1px solid var(--main-color);
}

.footer .terms li:hover{
    border-bottom:  1px solid white;
    cursor: pointer;
}

.title {
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.phone .title {
    color: rgba(0,0,0, 0)
}

.footer .social {
    flex-grow: 0;
    flex-basis: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    justify-self: flex-start;
    background: url("https://i.pinimg.com/originals/48/52/a5/4852a5cb7f4ad9a76365651cc3fa440c.png") no-repeat center center;
    background-size: cover;
}

.footer .social:hover {
    cursor: pointer;
}


