.container {
    margin-top: 90px;
    background-color: whitesmoke;
    display: flex;
    flex-flow: column;
    padding: 0 100px;
    padding-bottom: 30px;
}

    .container h1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--main-color);
    }

.textHalf {
    width: 90%;
    margin: 0 auto;
}

.text > ul {
    margin-left: 30px;
}

    .text > ul > li > pre > code {
        text-wrap: normal;
        font-family: 'Coda';
        white-space: pre-wrap
    }

.textHalf span {
    font-size: 14px;
    color: gray;
}

.blogImage {
    margin: auto;
    margin-top: 20px;
    width: 60%;
    margin-left: 5%;
}

.underTitle {
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-between;
}

.backBottun {
    background-color: gray;
    color: white;
    padding: 5px;
}

@media screen and (max-width: 1000px) {
    .container {
        padding: 0 35px;
    }
}

@media screen and (max-width: 1000px) {
    .blogImage {
        width: 90%;
    }
}