.container {
    margin-top: 90px;
    background-color: whitesmoke;
    display: flex;
    flex-flow: column;
    padding: 0 100px;
}

    .container h1 {
        width: 52vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--main-color);
    }

.firstRow {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: auto;
}

.titleHalf {
    display: flex;
    flex-flow: column;
    padding-left: 20px;
}


.itemPath {
    color: gray;
}

.info {
    margin: 0 auto;
}

.itemImage {
    margin: auto;
    margin-top: 20px;
    width: 60%;
    border: 1px solid rgba(0,0,0,0.2);
}

.quantity {
    background-color: lightgray;
    padding: 5px 13px;
    margin: 10px;
    border-radius: 100%;
}

.addToCart {
    background-color: var(--main-color);
    padding: 10px;
    color: white;
    width: 100px;
    text-align: center;
}
