.container {
    margin-top: 90px;
    background-color: whitesmoke;
    display: flex;
    flex-flow: row;
    padding: 0 100px;
}

    .container h1 {
        width: 52vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--main-color);
    }

.textHalf {
    width: 60%;
    display: flex;
    flex-flow: column;
}

.priceBottun {
    background-color: green;
    color: white;
    padding: 5px;
}

.travelImage {
    margin: auto;
}